.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 18%;
}
.sidebar__item svg {
  padding: 20px;
  transform: scale(1.25);
  font-weight: lighter;
}

.sidebar__logo {
  font-size: 30px;
  margin: 10px 0 20px 20px;
  transform: scale(1.4);

}
.sidebar__item {
  display: flex;
  align-items: center;
  list-style: none;
  max-height: 50px;
  margin-bottom: 8px;
}
.sidebar__item:hover {
  color: #1da1f2;
  background: #0095ff17;
  border-radius: 30px;
  cursor: pointer;
}
.sidebar__itemActive {
  color: #1da1f2;
  border-radius: 30px;
  cursor: pointer;
}
.sidebar__item > h3 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.sidebar__cta {
  color: white !important;
  background: #1da1f2 !important;
  border-radius: 50px !important;
  font-size: 16px !important;
  height: 50px !important;
  margin: 20px 0 0 0 !important;
  text-transform: inherit !important;
}
